<?xml version='1.0' standalone='yes'?>
<paths>
    <default>
        <path method="GET">
            <controller>Post</controller>
            <action>getList</action>
        </path>
    </default>
    <path method="POST">
        <uri>user/register</uri>
        <controller>User</controller>
        <action>register</action>
    </path>

    <path method="GET">
        <uri>post</uri>
        <controller>Post</controller>
        <action>getList</action>
    </path>
    <path method="POST">
        <uri>post</uri>
        <controller>Post</controller>
        <action>createPost</action>
    </path>
    <path method="POST">
        <uri>post/{id}</uri>
        <controller>Post</controller>
        <action>updatePost</action>
    </path>
    <path method="DELETE">
        <uri>post/{id}</uri>
        <controller>Post</controller>
        <action>deletePost</action>
    </path>

    <path method="GET">
        <uri>post/{id}/comments</uri>
        <controller>Comments</controller>
        <action>getPostComments</action>
    </path>
    <path method="POST">
        <uri>post/{id}/comments</uri>
        <controller>Comments</controller>
        <action>addPostComment</action>
    </path>
    <path method="DELETE">
        <uri>post/{id}/comments/{commentId}</uri>
        <controller>Comments</controller>
        <action>deletePostComment</action>
    </path>

    <path method="PUT">
        <uri>comment/{id}/like</uri>
        <controller>Comments</controller>
        <action>likeComment</action>
    </path>
    <path method="PUT">
        <uri>comment/{id}/unlike</uri>
        <controller>Comments</controller>
        <action>unlikeComment</action>
    </path>

    <path method="PUT">
        <uri>post/{id}/like</uri>
        <controller>Post</controller>
        <action>likePost</action>
    </path>
    <path method="PUT">
        <uri>post/{id}/unlike</uri>
        <controller>Post</controller>
        <action>unlikePost</action>
    </path>
</paths>
