.form{
    margin: 20px 0;
    padding: 1em 2em;
    border-radius: 1em;
}

.post-content {
    padding: 10px 0;
    white-space: pre-line;
}

.list-group-item {
    margin-top: 1em;
}

.list-group-item > form{
    white-space: normal;
}

.panel-body img {
    max-width: 100%;
}
